@import '../base/colores';
@import '../base/tipografias';

body {
    margin: 0;
    padding: 0;
    background-color: $color-primary-0;
}

#titulo{
    text-align: center;
    font-size: 5rem;
    color:#000;
    font-family: 'Marck Script', cursive;
}

.EstructuraPage{
    display: flex;
    flex-direction: row;
}